body {
    background-color: #2C3D55;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    min-height: 100vh;
}

h1 {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

p {
    font-size: 1.5rem;
}

.score-board {
    display: flex;
    justify-content: center;
}

.choices {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.choice {
    color: #fff;
    background: none;
    border: none;
    font-size: 5rem;
    flex-basis: 10%;
}

.choice:hover {
    color: #FFA500;
    transform: scale(1.3);
}

.score-board {
    margin-top: 5%;
    font-size: 2rem;
    display: grid;
    justify-content: center;
    justify-items: center;
  }

.result-score {
    color: #00FF00;
    font-size: 2rem;
  }

#show-choice {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

#message {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    color: #FFA500;
}

#message p {
    font-size: 1.7rem;
}

.choices p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.7rem;
}

#red-text {
    color: red;
  }

.player-choice {
      color: #00FF00;
      font-size: 2rem;
  }

.computer-choice {
      color: red;
      font-size: 2rem;
  }