body {
    /*background-image: url("../images/RPS-wallpaper.png");*/
    background-color: #2C3D55;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    min-height: 100vh;
}

h1 {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

p {
    font-size: 1.5rem;
}

/*.wrapper {
  background-color: #2C3D55;
  padding-top: 1%;
  padding-bottom: 2%;
  height: 80%;
  width: 100%;
}*/

.player-lives {
    margin-top: 3%;
    font-size: 1.7rem;
    color: #FFA500;
    display: grid;
    justify-content: center;
    justify-items: center;
}

.score-board {
    display: flex;
    justify-content: center;
}

.choices {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.choice {
    color: #fff;
    background: none;
    border: none;
    font-size: 5rem;
    flex-basis: 10%;
}

.choice:hover {
    color: #FFA500;
    transform: scale(1.3);
}

.score-board {
    margin-top: 5%;
    font-size: 2rem;
    display: grid;
    justify-content: center;
    justify-items: center;
  }

.result-score {
    color: #00FF00;
    font-size: 2rem;
  }

#show-choice {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

#message {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    color: #FFA500;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    flex-basis: 10%;
    background: #C42847;
    font-size: 1rem;
    padding: 1em 2em;
    margin: 3% 5% 0 5%;
    color: #fff;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
  }

.home-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button:hover {
    background: #FFA500;
  }
  
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
.modal-content {
    margin: 20% auto;
    width: 60%;
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
  }
  
.modal-header h2,
.modal-footer h3 {
    margin: 0;
  }
  
.modal-header {
    display: flex;
    flex-basis: 10%;
    justify-content: center;
    padding: 2%;
    background-color: #C42847;
    color: #fff;
  }
  
.modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #2C3D55;
    color: #fff;
  }
   
.close {
    font-size: 2rem;
    color: #fff;
  }
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

#play-again-btn {
  margin-bottom: 1em;
}

#message p {
    font-size: 1.7rem;
}

.choices p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.7rem;
}

#red-text {
    color: red;
  }

.player-choice {
      color: #00FF00;
      font-size: 2rem;
  }

.computer-choice {
      color: red;
      font-size: 2rem;
  }
  